<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Examen Parcial 1 - Andrea Cota Barocio 6C #08
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-item routerLink="/formulario">Formulario</ion-item>
  </div>
  <br>
  <br>

  <p>Quote</p>
  <ng-container *ngIf="quote; else loading">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ quote.quote }}</ion-card-title>
        <ion-card-title>{{ quote.author }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ng-container>

  <ng-template #loading>
    <ion-spinner name="crescent"></ion-spinner>
  </ng-template>

</ion-content>